*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #fff;
}


body {
  background-image: url('/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 21px;
  padding: 0 6px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
}

.status-bar__left {
  display: flex;
  align-items: center;
}

.status-bar__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-bar__right {
  display: flex;
  align-content: flex-end;
  gap: 3px;
  align-items: center;
}

.status-bar__wifi.moveable,
.status-bar__connection.moveable {
  display: none;
}

.status-bar__connection {
  width: 16px;
  height: 10px;
  margin-right: 4px;
}

.status-bar__wifi {
  width: 14px;
  height: 10px;
  margin-left: 6px;
}

.status-bar__icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.status-bar__text {
  font-size: 12px;
}

@media (min-width: 390px) {
  .status-bar {
    height: 49px;
    padding: 0 27px 0 34px;
  }

  .status-bar__left {
    display: none;
  }

  .status-bar__time--ampm {
    display: none;
  }

  .status-bar__icon.moved,
  .status-bar__text.moved {
    display: none;
  }

  .status-bar__wifi.moveable,
  .status-bar__connection.moveable {
    display: block;
    align-items: center;
  }

  .status-bar__wifi.moveable {
    margin-left: 0;
    margin: 0 3px 0;
  }

  .status-bar__right img {
    height: 13px;
  }

  .status-bar__time {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
  }
}

.banner {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 0;
}

.close-btn {
  display: inline-block;
  margin: 12px 22px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.close-btn img {
  width: 12px;
  height: 12px;
}

.banner__title {
  margin-top: 95px;
  text-align: center;
  font-size: 42px;
  line-height: 46px;
  width: 352px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-height: 737px) {

  html[lang="de"] .banner__title,
  html[lang="fr"] .banner__title {
    font-size: 36px;
    margin-top: 25px;
  }
}

.banner__images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 16px;
}

.banner__image-wrapper {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  height: 100%;
}

.banner__image {
  object-fit: cover;
  display: block;
  width: 106px;
  height: 140px;
}

.banner__image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 8px 12px;
  color: white;
}

.banner__image-text {
  margin: 0;
  width: 90px;
  font-size: 12px;
}

@media (min-width: 390px) {
  .banner__title {
    margin-top: clamp(80px, 14vh, 178px);
  }

  .banner__images {
    margin-top: 24px;
    gap: 6px;
  }

  .banner__image {
    width: 110px;
    height: 146px;
  }
}

.plan-selection {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 0 24px;
  color: #fff;
}

.plan-btn-link {
  -webkit-tap-highlight-color: transparent;
}

.plan-btn {
  min-width: 327px;
  width: 100%;
  height: 56px;
  background: rgba(255, 255, 255, 0.1016);
  cursor: pointer;
  padding: 0 24px;
  position: relative;
  text-align: left;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 100px;
}

.plan-btn.selected {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.3024);
}

.plan-btn__content {
  display: flex;
  align-items: center;
  gap: 44px;
  height: 100%;
}

.plan-btn__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 142px;
}

.plan-btn__title {
  text-transform: uppercase;
  font-size: 16px;
}

.plan-btn__description {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.plan-btn__right {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.plan-btn__price {
  width: 90px;
  margin-top: 6px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}


.plan-btn__badge {
  position: absolute;
  top: -10px;
  right: 24px;
  background: linear-gradient(135deg, rgba(188, 31, 239, 1) 0%, rgba(0, 53, 255, 1) 100%);
  color: white;
  max-width: 130px;
  min-width: 120px;
  height: 20px;
  text-align: center;
  border-radius: 100px;
  padding: 2px;
  font-size: 13px;
  text-transform: uppercase;
  white-space: nowrap;
}

.plan-btn__badge::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  background: linear-gradient(270deg,
      rgba(0, 181, 255, 1),
      rgba(99, 42, 247, 1),
      rgba(255, 150, 244, 1));
  border-radius: 100px;
  z-index: -1;
}

.plan-btn__badge.selected {
  border: 1px solid #fff;
  background: #fff;
  color: rgba(20, 17, 49, 1);
}

.plan-btn.badge {
  position: relative;
}

/* Левый розовый ус */
.plan-btn.badge::before {
  content: '';
  position: absolute;
  top: -1px;
  right: 144px;
  width: 128px;
  height: 2px;
  background: url('/images/border-left.svg') no-repeat center;
  background-size: contain;
  z-index: -1;
}

/* Правый синий ус с закруглением */
.plan-btn.badge::after {
  content: '';
  position: absolute;
  top: 0;
  right: -2px;
  width: 25px;
  height: 28px;
  background: url('/images/border-right.svg') no-repeat center;
  background-size: contain;
  z-index: -1;
}

.continue-btn {
  width: 327px;
  height: 56px;
  background: #fff;
  color: rgba(7, 11, 51, 1);
  border: none;
  border-radius: 100px;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  display: block;
  transition: all 0.3s ease;
}

.continue-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

@media (min-width: 390px) {
  .plan-selection {
    margin-top: 34px;
  }

  .plan-btn {
    min-width: 352px;
  }

  .continue-btn {
    min-width: 352px;
  }
}

.footer {
  padding: 28px 10px 8px;
  display: flex;
  justify-content: center;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  min-width: 280px;
  width: auto;
  gap: 10px;
  max-width: 400px;
}

.footer__links a {
  color: rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

@media (min-width: 390px) {
  .footer {
    padding: 34px 20px 38px;
  }
}